// DISPLAY
@mixin flexbox($justify: center, $align: center, $direction: row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// MEDIA QUERY
@mixin media($px){
    @media screen and (max-width:$px) {
        @content;
    }
}